<ul class="dropdown-menu" uib-dropdown-menu="" role="menu" aria-labelledby="single-button">
    <!-- ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/errorratiobyopidlive/"
            class="ng-binding">2nd/3rd Pass Validation Live</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/entertrackingnumbers/"
            class="ng-binding">Fix Tracking Numbers</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/dailyqc" class="ng-binding">QC Correct</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/qcimport" class="ng-binding">QC Import</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/qc" class="ng-binding">QC View</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/dailyqc/report/default2.asp"
            class="ng-binding">Quality Level By Site (5% QC)</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/dailyqc/report/report2SSRS.asp"
            class="ng-binding">Quality Level By Site (5% QC) Date Range</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled -->
    <li ng-repeat="item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField"
        ng-if="item.Enabled" role="menuitem" class="ng-scope"><a href="/reports/rejectaudit/" class="ng-binding">Reject Audit</a></li>
    <!-- end ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField --><!-- ngIf: item.Enabled --><!-- end ngRepeat: item in $ctrl.menu | filter:{Menu:title.Name,Level:$ctrl.level} | orderBy:$ctrl.orderField -->
</ul>